@media (min-width: 320px) {
    .navigation__item:nth-child(5) {
        font-weight: 700;
        color: black;
    }

    .navigation__item:nth-child(5) .navigation__link {
        border: 1px solid #222222;
    }

    h2{
        text-align:center;
        margin-top:15px;
        margin-bottom:30px;
    }

    form {
        min-width:300px;
        padding: 15px;
        border:1px solid black;
        border-radius:20px;
        margin: 0 auto;
        margin-bottom:30px;
        margin-right:10px;
        margin-left:10px;
    }


    .form-input {
        width: 270px;
        font-size: 16px;
        margin-bottom:40px;
    }

    .form-label {
        display: inline-block;
        min-width: 150px;
        vertical-align: top;

    }

    .form-error ul {
        list-style: none;
        padding: 0;
        color: #CC0000;
    }


    .form-button {
        width: 250px;
        font-size: 20px;
        margin:0 auto;
        border:none;
        display: block;
        height: 40px;
        background-color: #F2E0EC;
        padding:7px;
        text-align: center;
        color: #222222;
        border-radius: 10px;
    }

    .form-button:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .form-button:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}


@media (min-width: 530px) {
    form {
        width:460px;
        padding: 30px;
        border:1px solid black;
        border-radius:20px;
        margin: 0 auto;
        margin-bottom:30px;
    }
}


@media (min-width: 1400px) {
    .navigation__item:nth-child(5) {
        font-weight: 700;
        color: black;
    }

    .navigation__item:nth-child(5) .navigation__link {
        border: 1px solid #222222;
    }

    h2{
        text-align:center;
        margin-top:30px;
        margin-bottom:60px;
    }

    form {
        width:600px;
        padding: 30px;
        border:1px solid black;
        border-radius:20px;
        margin: 0 auto;
        margin-bottom:60px;
    }


    .form-input {
        width: 300px;
        font-size: 16px;
    }

    .form-label {
        display: inline-block;
        min-width: 150px;
        vertical-align: top;
        margin-bottom:40px;
    }

    .form-error ul {
        list-style: none;
        padding: 0;
        color: #CC0000;
    }


    .form-button {
        width: 250px;
        font-size: 20px;
        margin:0 auto;
        border:none;
        display: block;
        height: 40px;
        background-color: #F2E0EC;
        padding:7px;
        text-align: center;
        color: #222222;
        border-radius: 10px;
    }

    .form-button:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .form-button:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}












