@media (min-width: 320px) {
    .hide {
        display:none;
    }

    .navigation__item:nth-child(2) {
        font-weight: 700;
        color: black;
    }

    .navigation__item:nth-child(2) .navigation__link {
        border: 1px solid #222222;
    }

    .about-us {
        padding: 10px ;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .about-us__img {
        margin: 0;
        width: 100%;
        display:block;
        margin:0 auto;
        margin-bottom:15px;
    }

    .about-us__text-and-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-us__text {
        margin-bottom: 30px;
    }

    .about-us__button-link {
        display: block;
        width: 100%;
        background-color: #D7E0F9;
        padding: 7px 0;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 18px;
        margin-bottom:30px;
    }

    .about-us__button-link:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .about-us__button-link:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }

    .our-work {
        background-color: #F2E0EC;
        padding: 30px 10px;
    }

    .our-work__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }

    .our-work__heading {
        text-align:center;
        margin-bottom:30px;
    }

    .our-work__img-and-button {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-bottom:35px;

    }

    .our-work__img {
        margin-bottom:10px;
        width:100%;
    }
}



@media (min-width: 687px) {
    .about-us {
        padding: 30px 10px ;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: start;
    }

    .about-us__img {
        margin: 0;
        width: 250px;
        display:block;
        margin:0 auto;
        margin-bottom:15px;
        margin-right:15px;
    }

    .our-work__container {
        flex-direction:row;
        justify-content: space-between;
        align-items:center;
    }

    .our-work__img {
        margin-bottom:10px;
        width:250px;
    }
}

@media (min-width: 770px) {
    .our-work__img {
        margin-right:10px;
    }
}

@media (min-width: 800px) {
    .about-us__img {
        width: 350px;
        margin-right:30px;
    }

    .about-us {
        padding: 20px 40px;
    }

    .about-us__img {
        margin-bottom:15px;
    }

    .about-us__text {
        margin-bottom: 30px;
    }

    .about-us__button-link {
        width: 100%;
        padding: 10px 0;
        margin-bottom:30px;
    }

    .our-work {
        padding: 10px 40px;
    }

    .our-work__heading {

        margin-bottom:30px;
    }

}



@media (min-width: 1000px) {
    .about-us__img {
        width: 450px;
        margin-right:30px;
    }

    .about-us {
        padding: 20px 50px;
    }

    .about-us__img {
        margin-bottom:15px;
        margin:0;
        margin-right:15px;
    }

    .about-us__text {
        margin-bottom: 30px;
    }

    .about-us__button-link {
        width: 100%;
        padding: 10px 0;
        margin-bottom:30px;
    }

    .our-work {
        padding: 10px 50px;
    }

    .our-work__img {
        width:350px;
    }

    .our-work__heading {

        margin-bottom:30px;
    }

}

@media (min-width: 1200px) {
    .about-us {
        justify-content:space-between;
    }

    .about-us__img {
        width: 500px;
    }

    .about-us__text-and-button {
        width: 480px;
    }
}

@media (min-width: 1200px) {
    .about-us {
        flex-direction:row;
        justify-content:space-between;
    }

    .about-us__img {
        width: 550px;
    }

    .about-us__text-and-button {
        width: 480px;
    }

    .about-us__text {
        margin-bottom:60px;
    }
}




@media (min-width: 1400px) {

    .about-us {
        padding: 60px ;
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .about-us__img {
        width: 450px;
        display:block;
        margin:0;
        margin-right: 120px;
    }

    .about-us__text-and-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 576px;
    }

    .about-us__text {
        margin-bottom: 100px;
    }

    .about-us__button-link {
        display: block;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 18px;
        margin-bottom:0;
    }

    .our-work {
        padding: 60px;
    }

    .our-work__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: space-between;
        flex-direction:row;
    }


    .our-work__heading {
        text-align:center;
        margin-bottom:90px;
    }

    .our-work__img-and-button {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-bottom:0;
    }

    .our-work__img {
        margin-bottom:15px;
    }
}

