{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Новый Сотрудник{% endblock title%}

{% block main %}

<h2>Добавьте нового сотрудника</h2>

<form method="post">
    {% csrf_token %}

    <h3>
        Новый сотрудник
    </h3>

    {% for f in form %}
        <p>
            <label for="{{ f.id_for_label }}" >{{f.label}}:</label>
            {{f}}
        </p>
    {% endfor %}

    <span>{{ error }}</span>

    <button class="form-button" type="submit">
        Добавить
    </button>
</form>

{% endblock main%}