{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'employees/css/reseter.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'employees/css/base.css' %}">
    {% block style %}{% endblock style %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <nav class="header__navigation navigation">
                <ul class="navigation__list">
                    <li class="navigation__item navigation__logo">
                        <a href="/" class="navigation__logo">
                            <img src="{% static 'employees/img/logo.svg' %}" alt="logo">
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'index' %}" class="navigation__link">
                            Главная
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'employees' %}" class="navigation__link">
                            Сотрудники
                        </a>
                    </li>

                    <li class="navigation__item">
                        <a href="{% url 'addemployee' %}" class="navigation__link">
                            Добавить сотрудника
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}

                        <li class="navigation__item">
                            {{user.username}}
                        </li>
                        <li class="navigation__item">
                            <a href="{% url 'logout' %}" class="navigation__link">
                                Выйти
                            </a>
                        </li>

                    {% else %}
                        <li class="navigation__item">
                            <a href="{% url 'login' %}" class="navigation__link">
                                Войти
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="{% url 'register' %}" class="navigation__link">
                                Регистрация
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block main %}
            {% endblock main %}
        </main>

        <footer>
            <div class="footer__container">
                <p class="footer__text">
                    Работу выполнила: Мукомел Наталия Дмитриевна
                </p>
                <p class="footer__text">
                    Группа: 211-322
                </p>
                <p class="footer__text">
                    Тема: Сотрудники организации
                </p>
                <a  class="footer__link" href="https://ru.freepik.com/photos/business">Business фото создан(а) rawpixel.com - ru.freepik.com</a>
            </div>
        </footer>
    </div>
</body>
</html>
