{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Сотрудники{% endblock title%}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'employees/css/employees.css' %}">{% endblock style %}

{% block main %}
    <section class="employees">
        <h2 class="employees__heading">Наши сотрудники</h2>

        <ul class="employees__list">
            {% for p in page_obj %}
                <li class="employees__item">
                    <div class="employees__text">
                        <p class="employees__fio">
                            {{p.surname}} {{p.name}} {{p.patronymic}}
                        </p>

                        <p class="employees__department">
                            Отдел: {{p.department}}
                        </p>

                        <p class="employees__job-title">
                            Должность: {{p.jobTitle}}
                        </p>
                    </div>

                    <a href="{{ p.get_absolute_url }}" class="employees__button">
                        Узнать подробнее
                    </a>
                </li>
            {% endfor %}
        </ul>


    {% if page_obj.has_other_pages %}
        <nav class="employees_nav nav">
            <ul class="nav__list">
    {% if page_obj.has_previous %}
        <li class="nav__item">
            <a  href="?page={{ page_obj.previous_page_number }}"><</a>
        </li>
    {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="nav__item">
                            <div class="nav__link selected-page">{{p}}</div>
                        </li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="nav__item">
                            <a class="nav__link" href="?page={{p}}">{{p}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    </section>
{% endblock main%}