{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Сотрудник{% endblock title%}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'employees/css/employee.css' %}">{% endblock style %}

{% block main %}
    <section class="employee">
        <h2 class="employee__heading">О сотруднике</h2>

        {% for info in posts %}
            <div class="employee__container">
                <img src="{{ info.photo.url }}" alt=""  class="employee__img">

                <div class="employee__description">
                    <p class="employee__parametr">
                        {{info.surname}} {{info.name}} {{info.patronymic}}
                    </p>
                    <p class="employee__parametr">
                        Полных лет: {{info.age}}
                    </p>
                    <p class="employee__parametr">
                        Дата рождения: {{info.dateOfBirth}}
                    </p>
                    <p class="employee__parametr">
                        пол: {{info.gender}}
                    </p>
                    <p class="employee__parametr">
                        Отдел: {{info.department}}
                    </p>
                    <p class="employee__parametr">
                        Должность: {{info.jobTitle}}
                    </p>
                </div>
            </div>
        {% endfor %}

        <a href="{% url 'employees' %}" class="about-us__button-link">
            Вернуться ко всем сотрудникам
        </a>
    </section>
{% endblock main%}





