{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock title%}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'employees/css/style.css' %}">{% endblock style %}

{% block main %}
    <h1 class="hide">Студия веб-разработки</h1>
    <section class="about-us">
        <img src="{% static 'employees/img/people.jpg' %}" alt=""  class="about-us__img">
        <div class="about-us__text-and-button">
            <p class="about-us__text">
                Мы - команда по созданию удобных, надежных и красивых сайтов под ключ. Наша веб-студия разрабатывает сайты с 2021 года, находя подход к каждому заказчику. Разработка стартует с создания макета командой наших дизайнеров. Далее за логику и работу сайта вступает наш отдел программистов. Наша веб-студия предлагает также продвижение сайта нашим отделом продвижения.
            </p>

            <a href="{% url 'employees' %}" class="about-us__button-link">
                Посмотреть сотрудников
            </a>

        </div>
    </section>

    <section class="our-work">
        <h2 class="our-work__heading">Наши работы</h2>
        <div class="our-work__container">
            <div class="our-work__img-and-button">
                <img src="{% static 'employees/img/work.png' %}" alt=""  class="our-work__img">

                <a href="#" class="our-work__button-link">
                    Посмотреть сайт
                </a>
            </div>

            <div class="our-work__img-and-button">
                <img src="{% static 'employees/img/work.png' %}" alt=""  class="our-work__img">

                <a href="#" class="our-work__button-link">
                    Посмотреть сайт
                </a>
            </div>

            <div class="our-work__img-and-button">
                <img src="{% static 'employees/img/work.png' %}" alt=""  class="our-work__img">

                <a href="#" class="our-work__button-link">
                    Посмотреть сайт
                </a>
            </div>
        </div>
    </section>
{% endblock main%}
