{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Вход{% endblock title%}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'employees/css/login.css' %}">{% endblock style %}

{% block main %}

<h2>Авторизация</h2>

<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p>
            <label for="{{ f.id_for_label }}" class="form-label">{{f.label}}:</label>
            {{f}}
        </p>
    {% endfor %}

    <button class="form-button" type="submit">
        Войти
    </button>
</form>

{% endblock main%}