{% extends 'employees/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title%}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'employees/css/register.css' %}">{% endblock style %}

{% block main %}
<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}

{% for f in form %}
    <p>
        <label class="form-label" for="{{ f.id_for_label }}">
            {{f.label}}:
        </label>
        {{ f }}
    </p>

    <div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button  class="form-button" type="submit">Зарегистрироваться</button>
</form>

{% endblock main %}