@media (min-width: 320px) {
    html, body {
        height: 100%;
        font-family: 'Mulish', sans-serif;
        line-height: 1.5;
        color: #222222;
    }

    .wrapper{
        min-height: 100%;
        display: flex;
        flex-direction: column;

    }

    main {
        flex: 1 1 auto;
        margin-top:0;
    }

    .header {
        background-color: #EDF0F9;
        font-size: 18px;
        font-weight: 500;
        width:100%
    }

    .navigation {
        padding: 1px 10px;
    }

    .navigation__logo {
        margin-bottom:20px;
        margin-right:35px;
    }

    .navigation__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap:wrap;
    }

    .navigation__item {
         margin-bottom:15px;
    }

    .navigation__link {
        color: #222222;
        padding: 3px;
        text-decoration:none;
        border-bottom: 1px solid #222222;
    }

    .navigation__link:hover {
        border: 1px solid #222222;
    }

    .navigation__link:focus {
        border: 1px solid #222222;
        background-color: #d5e0e7;
    }

    .footer__container {
        padding: 30px 10px;
        background-color: #EDF0F9;
        font-weight: 400;
        font-size: 18px;
        height: 270px;
    }

    .footer__link{
        margin-top:20px;
    }
}


@media (min-width: 515px) {
    .footer__container {
        height: 200px;
    }
}

@media (min-width: 533px) {
    .navigation__logo {
        margin-right:115px;
    }
    .navigation__item {
         margin-right:15px;
    }
}


@media (min-width: 800px) {
    .navigation {
        padding: 1px 40px;
    }

    .footer__container {
        padding: 60px 40px;
        height:260px;
    }
}


@media (min-width: 1400px) {
    .header {
        background-color: #EDF0F9;
        font-size: 22px;
        font-weight: 500;
    }

    .navigation {
        padding: 1px 60px;
    }

    .navigation__item {
         margin-bottom:0;
    }

    .navigation__logo {
        margin-bottom:0;
    }

    .navigation__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation__link {
        color: #222222;
        padding: 3px;
        text-decoration:none;
        border-bottom: 1px solid #222222;
    }

    .navigation__link:hover {
        border: 1px solid #222222;
    }

    .navigation__link:focus {
        border: 1px solid #222222;
        background-color: #d5e0e7;
    }

    .footer__container {
        padding: 60px 60px;
        background-color: #EDF0F9;
        font-weight: 400;
        font-size: 22px;
        height: 280px;
    }

    .footer__link{
        margin-top:20px;
    }
}





@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;

    }
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    @page {
        size: A4;
        margin: 1cm;
        }

    body > *:not(main) {
        display: none;
    }

    button, footer, header {
        display:none;
    }

}