@media (min-width: 320px) {
    .employee__container {
        margin:15px;
        background-color: #EDF0F9;
        border-radius:10px;
        padding:20px 15px;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .employee__heading {
        text-align:center;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .employee__img {
        width:200px;
        margin-bottom:15px;
    }

    .about-us__button-link {
        display: block;
        width: 300px;
        background-color: #F2E0EC;
        padding: 7px 0;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 16px;
        margin:0 auto;
        margin-bottom:30px;
    }

    .about-us__button-link:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .about-us__button-link:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}


@media (min-width: 800px) {
    .employee__container {
        margin:60px;
        background-color: #EDF0F9;
        border-radius:10px;
        padding:60px 100px;
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction:row;
    }

    .employee__heading {
        text-align:center;
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .employee__img {
        width:200px;
        margin-right:30px;
    }


    .about-us__button-link {
        display: block;
        width: 450px;
        margin:0 auto;
        background-color: #F2E0EC;
        padding: 15px 0;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 22px;
        margin-bottom:60px;
    }

    .about-us__button-link:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .about-us__button-link:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}

@media (min-width: 1000px) {
    .employee__container {
        width:900px;
        margin:0 auto;
        margin-bottom:30px;
    }
}

@media (min-width: 1400px) {
    .employee__container {
        background-color: #EDF0F9;
        border-radius:10px;
        padding:60px 160px;
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction:row;
        margin:0 auto;
        margin-bottom:30px;
    }

    .employee__heading {
        text-align:center;
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .employee__img {
        width:200px;
    }


    .about-us__button-link {
        display: block;
        width: 450px;
        margin:0 auto;
        background-color: #F2E0EC;
        padding: 15px 0;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 22px;
        margin-bottom:60px;
    }

    .about-us__button-link:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .about-us__button-link:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}








@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;

    }
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    @page {
        size: A4;
        margin: 1cm;
        }

    body > *:not(main) {
        display: none;
    }

    .about-us__button-link {
        display:none;
    }

}
