@media (min-width: 320px) {
    .navigation__item:nth-child(3) {
        font-weight: 700;
        color: black;
    }

    .navigation__item:nth-child(3) .navigation__link {
        border: 1px solid #222222;
    }

    .employees {
        padding: 10px 10px 20px 10px;
    }

    .employees__heading {
        text-align:center;
        margin-bottom: 30px;
    }

    .employees__item {
        background-color: #EDF0F9;
        padding:20px 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        border-radius: 10px;
    }

    .employees__fio {
        font-weight:700;
    }

    .employees__button {
        margin-top:15px;
        display: block;
        height: 50px;
        width:270px;
        background-color: #F2E0EC;
        padding:13px;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 17px;
    }

    .employees__button:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .employees__button:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }

    .employees_nav {
    }

    .nav__list {
        list-style-type:none;
        display: flex;
    }

    .nav__item{
        margin-right:10px;
        font-size:20px;
    }

    .nav__link {
        text-decoration:none;
        background-color: #EDF0F9;
        padding: 5px 12px;
        border-radius:30px;
    }

    .selected-page {
            box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.40) inset;
            display:inline;
    }

    .nav__link:hover {
        box-shadow: 0px -7px 31px -7px rgba(34, 60, 80, 0.25) inset;
    }

    .nav__link:focus {
        box-shadow: 0px -7px 39px -7px rgba(34, 60, 80, 0.64) inset;
    }
}


@media (min-width: 500px) {
    .employees__item {
        flex-direction:row;
    }

    .employees__button {
        height: 40px;
        width:190px;
        padding:8px;
        font-size: 17px;
    }
}

@media (min-width: 650px) {
    .employees__button {
        height: 60px;
        width:300px;
        padding:16px;
        font-size: 18px;
    }
}

@media (min-width: 1400px) {


    .employees {
        padding: 30px 120px 60px 120px;
    }

    .employees__heading {
        text-align:center;
        margin-bottom: 60px;
    }

    .employees__item {
        background-color: #EDF0F9;
        padding:60px 30px;
        margin-bottom: 60px;
        display: flex;
        justify-content:space-between;
        align-items:center;
        border-radius: 10px;
    }

    .employees__fio {
        font-weight:700;
    }

    .employees__button {
        display: block;
        height: 60px;
        width:300px;
        background-color: #F2E0EC;
        padding:16px;
        text-align: center;
        color: #222222;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        margin-top:0;
    }

}