body {
    background-color: #EDF0F9;
}
html, body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.5;
}

#header {
    background-color: #848BA1;
}

.module caption {
    color: #222222;
    background-color: #F2E0EC;
}

a.section:link, a.section:visited{
    color: var(--link-fg);
}